* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }
*{
    padding: 0;
    margin: 0;
}
html { width: 100%; height:100%;}

body { 
    height:100%;
    font-family: sans-serif;
}


/* desktop version */
.mobile-nav-toggler{
    display: none;
}
.mobile-menu{
    display: none;
}
    /* logo */
    nav .logo{
        position: fixed;
        z-index: 6; /* z-index: 0, 1, 2, et 3 pour les img background et 4 pour le menu-scroll et 5 pour le navbar*/
        margin: 0 100px;
    }
    /* .menu-desktop */
    .menu-desktop{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.5);
        position: fixed;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 5;
    }
    .menu-desktop li{
        list-style-type: none;
    }
    .menu-desktop a{
        text-decoration: none;
        color: black;
        transition: all 0.5s;
        padding: 20px 30px;
    }
    .menu-desktop a:hover{
        color: #41c4af;
    }
    /* menu-area */
    .menu-area{
        display: flex;
        width: 75%;
    }
        /* nav-left */
        .nav-left{
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-left: auto;
        }
            /* main-menu */
            .main-menu{
                display: flex;
                align-items: center;
                width: 100%;
            }
            .main-menu .navigation{
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: center;
            }
            .main-menu a{
                font-size: 14px;
                font-family: 'lato';
                opacity: 0.9;
            }
            .main-menu a:hover{
                background-color: rgba(255, 255, 255, 0.8);
            }
            /* nav right */
            .nav-right{
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 900;
                width: 25%;
            }
            .nav-right a{
                display: flex;
                align-items: center;
            }
            .nav-right i{
                size: 100px;
            }
            .nav-right span{
                margin-left: 10px;
                font-family: 'lato';
            }
            
            /* home button */
            .home-button{
                display: none;
                position: fixed;
                left: 93%;
                z-index: 2;
                background-color: white;
                box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
                border-radius: 4px;
                padding: 8px;
                opacity: 0.6;
            }
            .home-button a{
                text-decoration: none;
                color: black;
                padding: 8px;
            }
            